.card-container {
    display: flex;
    justify-content: space-between;
}

.card-content {
    display: flex;
    margin-bottom: 3rem;
}

.card-biere {
    max-width: 400px;
    margin-left: 3rem;
    margin-top: 1rem;
}
  
.biere-header-image-1 {
    background-size: cover;
}

.biere-header-image-2 {
    background-size: cover;
}

.biere-button {
    width: 26rem;
}

.mat-card-actions .mat-stroked-button {
    margin: 0 0px;
    margin-top: 3px;
}
