.card-content {
    display: flex;
    margin-bottom: 3rem;
}

.card-biere {
    max-width: 770px;
    margin-left: 3rem;
    margin-top: 1rem;
}

.biere-button {
    width: 26rem;
}

.mat-card-actions .mat-stroked-button {
    margin: 0 0px;
    margin-top: 3px;
}