
<mat-drawer-container class="biere-sidenav-container">

    <mat-drawer class="sidenav-side" mode="side" opened>
      
    </mat-drawer>
<!--
<div class="card-content" >
  <mat-card class="card-biere">
    <mat-card-header>
      <div mat-card-avatar class="biere-header-image-1 "></div>
      <mat-card-title>Tripel Karmeliet</mat-card-title>
      <mat-card-subtitle>Bière Belge à fermentation haute</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.latelierdesbieres.fr/86-large_default/tripel-karmeliet-biere-belge-33-cl.jpg" alt="photo tripel Karmeliet">
    <mat-card-actions>
      <button class="biere-button" mat-button (click)="openDialog()">Plus d'infos</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-biere">
    <mat-card-header>
      <div mat-card-avatar class="biere-header-image-2 "></div>
      <mat-card-title>Petrus blonde</mat-card-title>
      <mat-card-subtitle>Bière Belge à fermentation haute</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.latelierdesbieres.fr/1875-thickbox_default/petrus-blonde-biere-belge-33-cl.jpg" alt="photo petrus blonde">
    <mat-card-actions>
      <button class="biere-button" mat-button>Plus d'infos</button>
    </mat-card-actions>
  </mat-card>
</div>-->

    
  
</mat-drawer-container>
  
  